/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.wmp-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wmp-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.wmp-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.wmp-table,.wmp-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.wmp-table-all{border:1px solid #ccc}
.wmp-bordered tr,.wmp-table-all tr{border-bottom:1px solid #ddd}.wmp-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.wmp-table-all tr:nth-child(odd){background-color:#fff}.wmp-table-all tr:nth-child(even){background-color:#f1f1f1}
.wmp-hoverable tbody tr:hover,.wmp-ul.wmp-hoverable li:hover{background-color:#ccc}.wmp-centered tr th,.wmp-centered tr td{text-align:center}
.wmp-table td,.wmp-table th,.wmp-table-all td,.wmp-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.wmp-table th:first-child,.wmp-table td:first-child,.wmp-table-all th:first-child,.wmp-table-all td:first-child{padding-left:16px}
.wmp-btn,.wmp-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.wmp-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.wmp-btn,.wmp-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.wmp-disabled,.wmp-btn:disabled,.wmp-button:disabled{cursor:not-allowed;opacity:0.3}.wmp-disabled *,:disabled *{pointer-events:none}
.wmp-btn.wmp-disabled:hover,.wmp-btn:disabled:hover{box-shadow:none}
.wmp-badge,.wmp-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.wmp-badge{border-radius:50%}
.wmp-ul{list-style-type:none;padding:0;margin:0}.wmp-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.wmp-ul li:last-child{border-bottom:none}
.wmp-tooltip,.wmp-display-container{position:relative}.wmp-tooltip .wmp-text{display:none}.wmp-tooltip:hover .wmp-text{display:inline-block}
.wmp-ripple:active{opacity:0.5}.wmp-ripple{transition:opacity 0s}
.wmp-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.wmp-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.wmp-dropdown-click,.wmp-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.wmp-dropdown-hover:hover .wmp-dropdown-content{display:block}
.wmp-dropdown-hover:first-child,.wmp-dropdown-click:hover{background-color:#ccc;color:#000}
.wmp-dropdown-hover:hover > .wmp-button:first-child,.wmp-dropdown-click:hover > .wmp-button:first-child{background-color:#ccc;color:#000}
.wmp-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.wmp-check,.wmp-radio{width:24px;height:24px;position:relative;top:6px}
.wmp-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.wmp-bar-block .wmp-dropdown-hover,.wmp-bar-block .wmp-dropdown-click{width:100%}
.wmp-bar-block .wmp-dropdown-hover .wmp-dropdown-content,.wmp-bar-block .wmp-dropdown-click .wmp-dropdown-content{min-width:100%}
.wmp-bar-block .wmp-dropdown-hover .wmp-button,.wmp-bar-block .wmp-dropdown-click .wmp-button{width:100%;text-align:left;padding:8px 16px}
.wmp-main,#main{transition:margin-left .4s}
.wmp-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.wmp-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.wmp-bar{width:100%;overflow:hidden}.wmp-center .wmp-bar{display:inline-block;width:auto}
.wmp-bar .wmp-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.wmp-bar .wmp-dropdown-hover,.wmp-bar .wmp-dropdown-click{position:static;float:left}
.wmp-bar .wmp-button{white-space:normal}
.wmp-bar-block .wmp-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.wmp-bar-block.wmp-center .wmp-bar-item{text-align:center}.wmp-block{display:block;width:100%}
.wmp-responsive{display:block;overflow-x:auto}
.wmp-container:after,.wmp-container:before,.wmp-panel:after,.wmp-panel:before,.wmp-row:after,.wmp-row:before,.wmp-row-padding:after,.wmp-row-padding:before,
.wmp-cell-row:before,.wmp-cell-row:after,.wmp-clear:after,.wmp-clear:before,.wmp-bar:before,.wmp-bar:after{content:"";display:table;clear:both}
.wmp-col,.wmp-half,.wmp-third,.wmp-twothird,.wmp-threequarter,.wmp-quarter{float:left;width:100%}
.wmp-col.s1{width:8.33333%}.wmp-col.s2{width:16.66666%}.wmp-col.s3{width:24.99999%}.wmp-col.s4{width:33.33333%}
.wmp-col.s5{width:41.66666%}.wmp-col.s6{width:49.99999%}.wmp-col.s7{width:58.33333%}.wmp-col.s8{width:66.66666%}
.wmp-col.s9{width:74.99999%}.wmp-col.s10{width:83.33333%}.wmp-col.s11{width:91.66666%}.wmp-col.s12{width:99.99999%}
@media (min-width:601px){.wmp-col.m1{width:8.33333%}.wmp-col.m2{width:16.66666%}.wmp-col.m3,.wmp-quarter{width:24.99999%}.wmp-col.m4,.wmp-third{width:33.33333%}
.wmp-col.m5{width:41.66666%}.wmp-col.m6,.wmp-half{width:49.99999%}.wmp-col.m7{width:58.33333%}.wmp-col.m8,.wmp-twothird{width:66.66666%}
.wmp-col.m9,.wmp-threequarter{width:74.99999%}.wmp-col.m10{width:83.33333%}.wmp-col.m11{width:91.66666%}.wmp-col.m12{width:99.99999%}}
@media (min-width:993px){.wmp-col.l1{width:8.33333%}.wmp-col.l2{width:16.66666%}.wmp-col.l3{width:24.99999%}.wmp-col.l4{width:33.33333%}
.wmp-col.l5{width:41.66666%}.wmp-col.l6{width:49.99999%}.wmp-col.l7{width:58.33333%}.wmp-col.l8{width:66.66666%}
.wmp-col.l9{width:74.99999%}.wmp-col.l10{width:83.33333%}.wmp-col.l11{width:91.66666%}.wmp-col.l12{width:99.99999%}}
.wmp-rest{overflow:hidden}.wmp-stretch{margin-left:-16px;margin-right:-16px}
.wmp-content,.wmp-auto{margin-left:auto;margin-right:auto}.wmp-content{max-width:980px}.wmp-auto{max-width:1140px}
.wmp-cell-row{display:table;width:100%}.wmp-cell{display:table-cell}
.wmp-cell-top{vertical-align:top}.wmp-cell-middle{vertical-align:middle}.wmp-cell-bottom{vertical-align:bottom}
.wmp-hide{display:none!important}.wmp-show-block,.wmp-show{display:block!important}.wmp-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.wmp-auto{max-width:95%}}
@media (max-width:600px){.wmp-modal-content{margin:0 10px;width:auto!important}.wmp-modal{padding-top:30px}
.wmp-dropdown-hover.wmp-mobile .wmp-dropdown-content,.wmp-dropdown-click.wmp-mobile .wmp-dropdown-content{position:relative}	
.wmp-hide-small{display:none!important}.wmp-mobile{display:block;width:100%!important}.wmp-bar-item.wmp-mobile,.wmp-dropdown-hover.wmp-mobile,.wmp-dropdown-click.wmp-mobile{text-align:center}
.wmp-dropdown-hover.wmp-mobile,.wmp-dropdown-hover.wmp-mobile .wmp-btn,.wmp-dropdown-hover.wmp-mobile .wmp-button,.wmp-dropdown-click.wmp-mobile,.wmp-dropdown-click.wmp-mobile .wmp-btn,.wmp-dropdown-click.wmp-mobile .wmp-button{width:100%}}
@media (max-width:768px){.wmp-modal-content{width:500px}.wmp-modal{padding-top:50px}}
@media (min-width:993px){.wmp-modal-content{width:900px}.wmp-hide-large{display:none!important}.wmp-sidebar.wmp-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.wmp-hide-medium{display:none!important}}
@media (max-width:992px){.wmp-sidebar.wmp-collapse{display:none}.wmp-main{margin-left:0!important;margin-right:0!important}.wmp-auto{max-width:100%}}
.wmp-top,.wmp-bottom{position:fixed;width:100%;z-index:1}.wmp-top{top:0}.wmp-bottom{bottom:0}
.wmp-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.wmp-display-topleft{position:absolute;left:0;top:0}.wmp-display-topright{position:absolute;right:0;top:0}
.wmp-display-bottomleft{position:absolute;left:0;bottom:0}.wmp-display-bottomright{position:absolute;right:0;bottom:0}
.wmp-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.wmp-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.wmp-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.wmp-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wmp-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wmp-display-container:hover .wmp-display-hover{display:block}.wmp-display-container:hover span.wmp-display-hover{display:inline-block}.wmp-display-hover{display:none}
.wmp-display-position{position:absolute}
.wmp-circle{border-radius:50%}
.wmp-round-small{border-radius:2px}.wmp-round,.wmp-round-medium{border-radius:4px}.wmp-round-large{border-radius:8px}.wmp-round-xlarge{border-radius:16px}.wmp-round-xxlarge{border-radius:32px}
.wmp-row-padding,.wmp-row-padding>.wmp-half,.wmp-row-padding>.wmp-third,.wmp-row-padding>.wmp-twothird,.wmp-row-padding>.wmp-threequarter,.wmp-row-padding>.wmp-quarter,.wmp-row-padding>.wmp-col{padding:0 8px}
.wmp-container,.wmp-panel{padding:0.01em 16px}.wmp-panel{margin-top:16px;margin-bottom:16px}
.wmp-code,.wmp-codespan{font-family:Consolas,"courier new";font-size:16px}
.wmp-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.wmp-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.wmp-card,.wmp-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.wmp-card-4,.wmp-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.wmp-spin{animation:wmp-spin 2s infinite linear}@keyframes wmp-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.wmp-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.wmp-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.wmp-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.wmp-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.wmp-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.wmp-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.wmp-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.wmp-animate-input{transition:width 0.4s ease-in-out}.wmp-animate-input:focus{width:100%!important}
.wmp-opacity,.wmp-hover-opacity:hover{opacity:0.60}.wmp-opacity-off,.wmp-hover-opacity-off:hover{opacity:1}
.wmp-opacity-max{opacity:0.25}.wmp-opacity-min{opacity:0.75}
.wmp-greyscale-max,.wmp-grayscale-max,.wmp-hover-greyscale:hover,.wmp-hover-grayscale:hover{filter:grayscale(100%)}
.wmp-greyscale,.wmp-grayscale{filter:grayscale(75%)}.wmp-greyscale-min,.wmp-grayscale-min{filter:grayscale(50%)}
.wmp-sepia{filter:sepia(75%)}.wmp-sepia-max,.wmp-hover-sepia:hover{filter:sepia(100%)}.wmp-sepia-min{filter:sepia(50%)}
.wmp-tiny{font-size:10px!important}.wmp-small{font-size:12px!important}.wmp-medium{font-size:15px!important}.wmp-large{font-size:18px!important}
.wmp-xlarge{font-size:24px!important}.wmp-xxlarge{font-size:36px!important}.wmp-xxxlarge{font-size:48px!important}.wmp-jumbo{font-size:64px!important}
.wmp-left-align{text-align:left!important}.wmp-right-align{text-align:right!important}.wmp-justify{text-align:justify!important}.wmp-center{text-align:center!important}
.wmp-border-0{border:0!important}.wmp-border{border:1px solid #ccc!important}
.wmp-border-top{border-top:1px solid #ccc!important}.wmp-border-bottom{border-bottom:1px solid #ccc!important}
.wmp-border-left{border-left:1px solid #ccc!important}.wmp-border-right{border-right:1px solid #ccc!important}
.wmp-topbar{border-top:6px solid #ccc!important}.wmp-bottombar{border-bottom:6px solid #ccc!important}
.wmp-leftbar{border-left:6px solid #ccc!important}.wmp-rightbar{border-right:6px solid #ccc!important}
.wmp-section,.wmp-code{margin-top:16px!important;margin-bottom:16px!important}
.wmp-margin{margin:16px!important}.wmp-margin-top{margin-top:16px!important}.wmp-margin-bottom{margin-bottom:16px!important}
.wmp-margin-left{margin-left:16px!important}.wmp-margin-right{margin-right:16px!important}
.wmp-padding-small{padding:4px 8px!important}.wmp-padding{padding:8px 16px!important}.wmp-padding-large{padding:12px 24px!important}
.wmp-padding-16{padding-top:16px!important;padding-bottom:16px!important}.wmp-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.wmp-padding-32{padding-top:32px!important;padding-bottom:32px!important}.wmp-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.wmp-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.wmp-left{float:left!important}.wmp-right{float:right!important}
.wmp-button:hover{color:#000!important;background-color:#ccc!important}
.active{color:#000!important;background-color:#ccc!important}

.wmp-transparent,.wmp-hover-none:hover{background-color:transparent!important}
.wmp-hover-none:hover{box-shadow:none!important}
/* Colors */
.wmp-amber,.wmp-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.wmp-aqua,.wmp-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.wmp-blue,.wmp-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.wmp-light-blue,.wmp-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.wmp-brown,.wmp-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.wmp-cyan,.wmp-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.wmp-blue-grey,.wmp-hover-blue-grey:hover,.wmp-blue-gray,.wmp-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.wmp-green,.wmp-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.wmp-light-green,.wmp-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.wmp-indigo,.wmp-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.wmp-khaki,.wmp-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.wmp-lime,.wmp-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.wmp-orange,.wmp-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.wmp-deep-orange,.wmp-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.wmp-pink,.wmp-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.wmp-purple,.wmp-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.wmp-deep-purple,.wmp-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.wmp-red,.wmp-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.wmp-sand,.wmp-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.wmp-teal,.wmp-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.wmp-yellow,.wmp-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.wmp-white,.wmp-hover-white:hover{color:#000!important;background-color:#fff!important}
.wmp-black,.wmp-hover-black:hover{color:#fff!important;background-color:#000!important}
.wmp-grey,.wmp-hover-grey:hover,.wmp-gray,.wmp-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.wmp-light-grey,.wmp-hover-light-grey:hover,.wmp-light-gray,.wmp-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.wmp-dark-grey,.wmp-hover-dark-grey:hover,.wmp-dark-gray,.wmp-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.wmp-pale-red,.wmp-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.wmp-pale-green,.wmp-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.wmp-pale-yellow,.wmp-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.wmp-pale-blue,.wmp-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.wmp-text-amber,.wmp-hover-text-amber:hover{color:#ffc107!important}
.wmp-text-aqua,.wmp-hover-text-aqua:hover{color:#00ffff!important}
.wmp-text-blue,.wmp-hover-text-blue:hover{color:#2196F3!important}
.wmp-text-light-blue,.wmp-hover-text-light-blue:hover{color:#87CEEB!important}
.wmp-text-brown,.wmp-hover-text-brown:hover{color:#795548!important}
.wmp-text-cyan,.wmp-hover-text-cyan:hover{color:#00bcd4!important}
.wmp-text-blue-grey,.wmp-hover-text-blue-grey:hover,.wmp-text-blue-gray,.wmp-hover-text-blue-gray:hover{color:#607d8b!important}
.wmp-text-green,.wmp-hover-text-green:hover{color:#4CAF50!important}
.wmp-text-light-green,.wmp-hover-text-light-green:hover{color:#8bc34a!important}
.wmp-text-indigo,.wmp-hover-text-indigo:hover{color:#3f51b5!important}
.wmp-text-khaki,.wmp-hover-text-khaki:hover{color:#b4aa50!important}
.wmp-text-lime,.wmp-hover-text-lime:hover{color:#cddc39!important}
.wmp-text-orange,.wmp-hover-text-orange:hover{color:#ff9800!important}
.wmp-text-deep-orange,.wmp-hover-text-deep-orange:hover{color:#ff5722!important}
.wmp-text-pink,.wmp-hover-text-pink:hover{color:#e91e63!important}
.wmp-text-purple,.wmp-hover-text-purple:hover{color:#9c27b0!important}
.wmp-text-deep-purple,.wmp-hover-text-deep-purple:hover{color:#673ab7!important}
.wmp-text-red,.wmp-hover-text-red:hover{color:#f44336!important}
.wmp-text-sand,.wmp-hover-text-sand:hover{color:#fdf5e6!important}
.wmp-text-teal,.wmp-hover-text-teal:hover{color:#009688!important}
.wmp-text-yellow,.wmp-hover-text-yellow:hover{color:#d2be0e!important}
.wmp-text-white,.wmp-hover-text-white:hover{color:#fff!important}
.wmp-text-black,.wmp-hover-text-black:hover{color:#000!important}
.wmp-text-grey,.wmp-hover-text-grey:hover,.wmp-text-gray,.wmp-hover-text-gray:hover{color:#757575!important}
.wmp-text-light-grey,.wmp-hover-text-light-grey:hover,.wmp-text-light-gray,.wmp-hover-text-light-gray:hover{color:#f1f1f1!important}
.wmp-text-dark-grey,.wmp-hover-text-dark-grey:hover,.wmp-text-dark-gray,.wmp-hover-text-dark-gray:hover{color:#3a3a3a!important}
.wmp-border-amber,.wmp-hover-border-amber:hover{border-color:#ffc107!important}
.wmp-border-aqua,.wmp-hover-border-aqua:hover{border-color:#00ffff!important}
.wmp-border-blue,.wmp-hover-border-blue:hover{border-color:#2196F3!important}
.wmp-border-light-blue,.wmp-hover-border-light-blue:hover{border-color:#87CEEB!important}
.wmp-border-brown,.wmp-hover-border-brown:hover{border-color:#795548!important}
.wmp-border-cyan,.wmp-hover-border-cyan:hover{border-color:#00bcd4!important}
.wmp-border-blue-grey,.wmp-hover-border-blue-grey:hover,.wmp-border-blue-gray,.wmp-hover-border-blue-gray:hover{border-color:#607d8b!important}
.wmp-border-green,.wmp-hover-border-green:hover{border-color:#4CAF50!important}
.wmp-border-light-green,.wmp-hover-border-light-green:hover{border-color:#8bc34a!important}
.wmp-border-indigo,.wmp-hover-border-indigo:hover{border-color:#3f51b5!important}
.wmp-border-khaki,.wmp-hover-border-khaki:hover{border-color:#f0e68c!important}
.wmp-border-lime,.wmp-hover-border-lime:hover{border-color:#cddc39!important}
.wmp-border-orange,.wmp-hover-border-orange:hover{border-color:#ff9800!important}
.wmp-border-deep-orange,.wmp-hover-border-deep-orange:hover{border-color:#ff5722!important}
.wmp-border-pink,.wmp-hover-border-pink:hover{border-color:#e91e63!important}
.wmp-border-purple,.wmp-hover-border-purple:hover{border-color:#9c27b0!important}
.wmp-border-deep-purple,.wmp-hover-border-deep-purple:hover{border-color:#673ab7!important}
.wmp-border-red,.wmp-hover-border-red:hover{border-color:#f44336!important}
.wmp-border-sand,.wmp-hover-border-sand:hover{border-color:#fdf5e6!important}
.wmp-border-teal,.wmp-hover-border-teal:hover{border-color:#009688!important}
.wmp-border-yellow,.wmp-hover-border-yellow:hover{border-color:#ffeb3b!important}
.wmp-border-white,.wmp-hover-border-white:hover{border-color:#fff!important}
.wmp-border-black,.wmp-hover-border-black:hover{border-color:#000!important}
.wmp-border-grey,.wmp-hover-border-grey:hover,.wmp-border-gray,.wmp-hover-border-gray:hover{border-color:#9e9e9e!important}
.wmp-border-light-grey,.wmp-hover-border-light-grey:hover,.wmp-border-light-gray,.wmp-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.wmp-border-dark-grey,.wmp-hover-border-dark-grey:hover,.wmp-border-dark-gray,.wmp-hover-border-dark-gray:hover{border-color:#616161!important}
.wmp-border-pale-red,.wmp-hover-border-pale-red:hover{border-color:#ffe7e7!important}.wmp-border-pale-green,.wmp-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.wmp-border-pale-yellow,.wmp-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.wmp-border-pale-blue,.wmp-hover-border-pale-blue:hover{border-color:#e7ffff!important}